<div class="d-flex">
  <input [(ngModel)]="urlImageSaisie" />

  <button matButton="elevated" (click)="ajouterImage()">Ajouter</button>

  <mat-slider min="10" max="100" step="1">
    <input matSliderThumb [(ngModel)]="valeurSlider" />
  </mat-slider>
</div>

<div class="liste-categories">
  @for (categorie of categorieService.categories(); track indexCategorie; let indexCategorie = $index) {
    <div class="categorie">
      <div class="en-tete">
        <span [ngStyle]="{ 'font-size': valeurSlider + 'px' }">{{ categorie.titre }}</span>
      </div>
      <div class="liste-images">
        @for (urlImage of categorie.images; track indexImage; let indexImage = $index) {
          <div
            class="image"
            [class.highlighted]="
              indexCategorieDestination === indexCategorie && indexImageDestination === indexImage
            "
          >
            <img [attr.src]="urlImage" />

            @if (indexCategorie > 0) {
              <div
                class="bouton bouton-monter"
                (click)="deplacementImage(indexCategorie, indexImage)"
              >
                +
              </div>
            }

            @if (indexCategorie < categorieService.categories().length - 1) {
              <div
                class="bouton bouton-descendre"
                (click)="deplacementImage(indexCategorie, indexImage, false)"
              >
                -
              </div>
            }

            <div
              class="bouton bouton-supprimer"
              (click)="supprimerImage(indexCategorie, indexImage)"
            >
              x
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
